<footer>
  <div class="container-fluid">
    <div class="container ">
      <div class="row py-3">
        <div class="col text-center">
<!--          <h1 class="text-light font-weight-light text-capitalize p-3">pure bootstrap project</h1>-->
          <h3 class="text-light font-weight-light font-italic p-3">מצאי אותנו גם ברשתות החברתיות.</h3>
          <div class="py-3">
            <a href="https://www.facebook.com/%D7%97%D7%A0%D7%99-%D7%A4%D7%99%D7%A9%D7%A8-%D7%A4%D7%90%D7%95%D7%AA
            -chani-fisher-wigs-2214879558734711/", target="_blank"><i class="fab fa-facebook fa-2x mx-3 text-primary"></i></a>
            <a href="https://www.instagram.com/hani.wigs/", target="_blank"><%=image_tag "instagram.svg", class:'mb-3
            mx-3', style:'width: 30px; border: none;'%></a>
<!--            <a href="#"><i class="fab fa-youtube fa-2x mx-3 text-danger"></i></a>-->
          </div>
          <p class="text-light pb-3 m-0">&copy;Copyright 2019 - Made With Love - by Shmulik</p>
        </div>
      </div>
    </div>
  </div>
</footer>