<div class="container-fluid py-3">
  <div class="container my-3 pt-3 border border-secondary">
    <div class="row py-3">
      <div class="col-md-7 col-sm-10">
        <h2 class="p-0 text-center">מוזמנת לבקר באחד הסניפים</h2>
        <small class="text-muted pl-4">*בתאום מראש</small>
        <ul class="unstyled line py-3">
          <li><strong>סניף ראשי: קיבוץ גלויות 17, בני ברק</strong></li>
          <li><strong>רוטשילד 142, פתח-תקווה</strong></li>
          <li><strong>בעלי התוספות 22, אלעד</strong></li>
        </ul>
      </div>
      <div class="col-md-5 col-sm-10">
        <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.7718547570494!2d34.84296878492006!3d32.07541888118948!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b0b627b5601%3A0x9e90768a2bed88f8!2z15fXoNeZINek15nXqdeoINek15DXldeq!5e0!3m2!1siw!2sil!4v1582125752006!5m2!1siw!2sil" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>
</div>