<!--<div class="container-fluid">-->
  <%= link_to 'https://api.whatsapp.com/send?phone=972526626510&text=%D7%94%D7%99%D7%99%20%D7%90%D7%A0%D7%99%20%D7%9C%D7%A7%D7%95%D7%97%D7
%94%20%D7%91%D7%90%D7%AA%D7%A8%20%D7%95%D7%99%D7%A9%20%D7%9C%D7%99%20%D7%A9%D7%90%D7%9C%D7%94', class: 'float', target: "_blank" do %>
    <i class="fab fa-whatsapp fa-5x my-float"></i>
  <% end %>
<!--</div>-->
<!--<a href="https://api.whatsapp.com/send?phone=51955081075&text=" class="float" target="_blank">-->
<!--  <i class="fa fa-whatsapp my-float"></i>-->
<!--</a>-->