// Place all the styles related to the MainPage controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
//@import url('https://fonts.googleapis.com/css?family=David+Libre&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet');
@import "font-awesome-sprockets";
@import "font-awesome";

*{
  box-sizing: border-box;
  direction: rtl;
}
html {
  font-size: 1rem;
}
.line li{
  line-height: 2em !important;
}
body {
  //font-family: 'David Libre', serif !important;
  font-family: 'Rubik', sans-serif !important;
}
.bg-site {
  background-color: #fbc3b4;
}
.text-gold {
  color: #ae9a6b;
}
.container-fluid {
  //background-color: #ae9a6b;
  background: rgb(251,195,180);
  background: linear-gradient(260deg, rgba(251,195,180,1) 0%, rgba(174,154,107,0.9389735630580357) 100%, rgba(0,212,255,1) 100%);
}
.heading h2{
  display: inline-grid;
}

form , .bg-custom{
  background: rgb(242,149,125);
  background: radial-gradient(circle, rgba(242,149,125,1) 0%, rgba(191,167,109,0.9389735630580357) 100%, rgba(0,212,255,1) 100%);
}
//whatsapp button
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:6%;
  right:40px;
  //background-color:#25d366;
  //color:#FFF;
  border-radius:50px;
  text-align:center;
  //font-size:30px;
  //box-shadow: 2px 2px 3px #999;
  z-index:100;
  //overflow: auto;
}
.fa-whatsapp  {
  color:#fff;
  background:linear-gradient(#25d366,#25d366)10px 84%/10px 15px no-repeat,radial-gradient(#25d366 60%,transparent 0);
}
.wa-size {
  font-size: 5em;
}
.tel-size {
  font-size: 3em;
}

// carousel small not display in non mobile
.small_only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .img-media{
    max-width: 50%;
    margin-right: auto!important;
    margin-left: auto!important;
    display: block!important;
    font-size: 1.2rem;
  }
  h1 {
    font-size: 8vw;
  }
  .carousel-nav-icon{
    display: none;
  }
  .paralex_new_logo {
    background-image: url('new_logo_with_text.jpeg');
  }
  .small_only {
    display: block;
  }
  .medium {
    display: none;
  }
  .wa-size {
    font-size: 4em;
  }
  .tel-size {
    font-size: 2.5em;
  }
}
// end of media queries


.row-opacity {
  opacity: .7;
}
h2
{
  padding: 5%;
}
.error {
  background-color: #B00100;
  color: gold;
  font-size: 1.2em;
}
//img {
//  width: 300px;
//  height: 300px;
//}
.border-bottom-dark {
  //border-bottom: solid 2px #2E2F30;
  box-shadow: 0px 10px 4px -1px rgba(0,0,0,0.75);
}

// code for carousel
.carousel-nav-icon {
  height: 48px;
  width: 48px;
}
.carousel-item {
  .col, .col-sm, .col-md {
    margin: 8px;
    height: 250px;
    background-size: cover;
    background-position: center center;
    box-shadow: -6px 5px 12px 0px #999;
    border: 5px solid;
  }
  img {

  }
}
//google map
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  box-shadow: 5px -8px 19px #999;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}


