<div class="container-fluid" style="min-height: 50vh">
  <div class="container justify-content-center mx-auto align-items-center text-center">
    <br><br>
    <h1><strong>תודה רבה</strong></h1>
    <br>
    <h1><strong><%=@customer.fname + ' ' + @customer.lname if @customer%></strong></h1>
    <br>
    <h1><strong>אי"ה ניצור איתך קשר בהקדם</strong></h1>
  </div>
</div>